body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #dcdcdc, #c0c0c0); /* Gradiente de prata */
    color: #495057;
    position: relative;
}

.fixed-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.menu-container {
    display: flex;
    align-items: center;
}

.text-container {
    text-align: left;
    margin-left: 20px;
}

.header-title {
    font-size: 1.8em;
    margin: 0;
    color: #fff;
}

.main-nav {
    display: flex;
    gap: 20px;
}

.header-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-button:hover {
    background-color: #0056b3;
}
.servicos, .sobre-nos, .contato {
    margin: 80px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.servicos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.servico {
    flex: 1;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.servico:hover {
    transform: scale(1.05);
}

.servico p {
    margin: 0;
    font-weight: bold;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 0.5px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.whatsapp-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.whatsapp-button a {
    display: block;
    width: 100%;
    height: 100%;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.fab {
    margin-right: 5px;
}

section.contato p a {
    margin-right: 15px;
}

.btn-saiba-mais {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 15px;
}

.btn-saiba-mais:hover {
    background-color: #218838;
}

.background-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .logo-container {
        flex: 1 100%;
    }

    .text-container {
        text-align: center;
        margin: 20px 0;
    }

    .buttons-container {
        flex: 1 100%;
        justify-content: center;
        margin-top: 20px;
    }

    .header-button {
        margin: 0 10px;
    }

    .servico {
        flex: 1 100%;
    }

    .background-shape {
        clip-path: none;
    }
}
.sobre-nos-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sobre-nos-button:hover {
    background-color: #0056b3;
}

header {
    background-image: url('fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0.1em;
    position: relative;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5); /* Sobreposição escura */
}
.sobre-nos p {
    transition: max-height 0.5s ease;
    overflow: hidden;
    max-height: 100px; /* Altura máxima inicial */
}

#conteudo-expandido {
    max-height: 500px; /* Altura máxima expandida */
}
/* Adicione este código ao seu arquivo de estilo para a galeria */
.galeria {
    margin: 80px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.galeria h2 {
    text-align: center;
}

.galeria-container {
    display: flex;
    overflow-x: auto;
}

/* Adicione este código ao seu arquivo de estilo para a galeria */
.slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    transition: opacity 0.5s;
    max-width: 800px; /* Defina a largura máxima desejada para as imagens */
    margin: 0 auto; /* Centraliza a imagem na tela */
}

.slide img {
    width: 100%;
    height: 300px; /* Defina a altura desejada para as imagens */
    object-fit: cover; /* Garante que a imagem cubra a caixa mantendo a proporção */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura máxima definida */
}

/* Adiciona estilo para o controle deslizante */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #007bff;
    transition: color 0.3s;
}

.prev:hover,
.next:hover {
    color: #0056b3;
}

/* Adiciona estilo para a imagem em tela cheia */
.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: zoom-out;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro transparente */
}
